altair
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
blinker
Bottleneck
Brotli
cachetools
certifi
cffi
charset-normalizer
click
colorama
comm
cryptography
debugpy
decorator
defusedxml
executing
fastjsonschema
gitdb
GitPython
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
json5
jsonschema
jsonschema-specifications
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
nbclient
nbconvert
nbformat
nest-asyncio
notebook
notebook_shim
numexpr
numpy
overrides
packaging
pandas
pandocfilters
parso
Pillow
platformdirs
plotly
polyline==2.0.1
prometheus-client
prompt-toolkit
protobuf==3.20.3
psutil
pure-eval
pyarrow==11.0.0
pycparser
pydeck
Pygments
Pympler
pyOpenSSL
PySocks
python-dateutil
python-json-logger
pytz
pywin32==305.1
pywinpty
PyYAML
pyzmq
referencing
requests
rfc3339-validator
rfc3986-validator
rich
rpds-py
Send2Trash
six
smmap
sniffio
soupsieve
stack-data
streamlit
tenacity
terminado
tinycss2
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings==0.5.1
websocket-client
widgetsnbextension
win-inet-pton
zipp
